#account_by_days_table_wrapper {
    margin: 10px 20px;
    overflow: scroll;
}
#account_by_days_table_wrapper::-webkit-scrollbar {
    display: none;
}

.styled-table {
    border-spacing: 0;
    white-space: nowrap;
}

.styled-table thead tr:last-child td {
    border-bottom: 2px solid black;
}
.styled-table td:not(:first-child) {
    border-left: 1px solid black;
}
.styled-table tr td:first-child {
    padding-left: 20px;
    padding-right: 10px;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table thead {
    text-align: center;
}
.styled-table thead td.weekend {
    color: red;
}

.styled-table tbody td.balance-cell {
    text-align: right;
    width: 75px;
    height: 19px;
}
.styled-table tbody td.inferred {
    color: lightgray;
}
.styled-table td.today {
    background: #FFFACD;
}

.styled-table tbody td .balance-input {
    width: calc(100% - 4px);
    height: 100%;
    border: none;
    outline: none;
}

.styled-table tbody td input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

    -moz-appearance: textfield;
}

.flag-in-use {
    color: gray;
}
